<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Pilog2020</title>
  </head>
  <body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div style='text-align: center; padding: 3%'>

<h1>Welcome</h1>
<p>This Website is designed for changing the sample and sample intervals of the Aanderaa 3919 Conductivity Sensor and Aanderaa 3830 Oxygen Optode Sensor connected to the Raspberry Pi used in the Pilog2020 project.
</p>

{% from "_formhelpers.html" import render_field %}
<form method=post>
	<p>First time users should calibrate both sensors here:</p>
	<a href='/conductivity_calibrated'>
  		<button name='cond_button' type='button' value='clicked' onclick="alert('Conductivity sensor calibrated!')" class="btn btn-secondary">Calibrate Conductivity Sensor</button>
  	</a>
  	<a href='/oxygen_calibrated'>
  		<button name='cond_button' type='button' value='clicked' onclick="alert('Oxygen sensor calibrated!')" class="btn btn-primary">Calibrate Oxygen Optode Sensor</button>
  	</a>
  <!-- <dl> -->
  	<h2>Conductivity</h2>
  	<p>Next, set the interval and number of samples wanted of the Conductivity sensor per bootup of the Raspberry Pi.</p>
    {{ render_field(form.conductivity_interval) }}
    {{ render_field(form.conductivity_n_samples) }}
    <h2>Oxygen</h2>
	<p>Next, set the interval and number of samples wanted of the Oxygen Optode sensor per bootup of the Raspberry Pi.</p>
    {{ render_field(form.oxygen_interval) }}
    {{ render_field(form.oxygen_n_samples) }}
  <!-- </dl> -->
  <p><input type=submit value='Update Settings' class="btn btn-success">
</form>
</div`>

</body>

</html>